.container {
  display: flex;
  justify-content: space-between;
  padding: 8px 24px 8px 24px;
  margin: 0 150px 0 150px;
  align-items: center;
}
.header-with-svg-el {
  display: flex;
  gap: 8px;
  align-items: center;
  font-family: SF Pro Text;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.with-search-second-div {
  display: flex;
  gap: 8px;
  height: 40px;
}
.first-div {
  display: flex;
  gap: 24px;
  align-items: center;
}
.menus {
  display: flex;
  gap: 8px;
  font-family: SF Pro Text;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.logo {
  width: 40.996px;
  height: 40.996px;
  padding: 7.178px 4.865px 7.055px 4.867px;
}
.search-div {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 260px;
  height: 40px;
}
.items-padding {
  padding: 8px 16px 8px 16px;
}
.hovered-menu-itemcolor {
  color: #18ba51;
}
